{% comment %} PRODUCT PAGE SLIDER APP CODE START {% endcomment %}{% render 'pmslider_inline.liquid' %}{% comment %} PRODUCT PAGE SLIDER APP CODE END {% endcomment %}
{% section 'product-template' %}



<div id="shopbooster-ali" product-id="{{ product.id }}" ></div>